ul#postit li{
	width:56px;
	height:29px;
	background:#ffffff;
	border-right:4px solid #efefef;
	border-bottom:4px solid #efefef;
	line-height:29px;
	text-align:center;
	cursor:pointer;
	font-size:10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
ul#allResize li{
	width:56px;
	height:29px;
	background:#ffffff;
	border-right:4px solid #efefef;
	border-bottom:4px solid #efefef;
	line-height:29px;
	text-align:center;
	cursor:pointer;
	font-size:10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
ul#FGO li{
	width:56px;
	height:29px;
	background:#ffffff;
	border-right:4px solid #efefef;
	border-bottom:4px solid #efefef;
	line-height:29px;
	text-align:center;
	cursor:pointer;
	font-size:10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
.husen {
	opacity: 0;
	transition: all 300ms 0s ease;
}

.fadeIn {
	opacity: 1;
}