#priority{
	margin-bottom:10px
}

table.task-table {
	/* border-collapse: separate;
	border-spacing: 1px; */
	border-collapse: collapse;
    border-spacing: 0;
	text-align: center;
	line-height: 1.5;
}
table.task-table th {
	/* width: 320px;*/
	padding: 5px;
	font-weight: bold;
	vertical-align: top;
	color: #fff;
	background: #036;
}
table.task-table td {
/* 	width: 320px;*/
	padding: 5px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #FFFFFF;
}

thead, tbody {
    display: block;
}

tbody {
    overflow-y: scroll;
    height: 150px;
}

.symbol-cell{
	width: 30px;
}

.body-cell{
	width: 270px;
}
.body-cell input{
	width: 95%;
	border: none;
}

.priority-cell{
	width: 102px;
}

.status-cell{
	width: 50px;
}

.yubi {
  cursor : pointer;
}

.task-content {
	width: 510px;/*  todoリストのテーブルのサイズ */
}

ul{ list-style:none;}
.tab{overflow:hidden;}
.tab li{background:#808080; padding:5px 25px; float:left; margin-right:1px;}
.tab li.select{background:#eee;}
.task-content li{background:#eee; padding:1px;}
.hide {display:none;}

.edit-cell{
	position: fixed;
}

/* open-closeボタン */
.status-btn{
    display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    border-radius: 80%;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    overflow: hidden;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.29);
    border-bottom: solid 1px #bd6565;
    transition: .4s;
}
.status-btn:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

/* 編集用入力欄 */
 input.task-body-edit[type=text]{
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   padding:0 3px;
}
input.task-body-edit[type=text]:focus {
   border:solid 1px #20b2aa;
}
input.task-body-edit[type=text], select { 
   outline: none;
}

/* スクロールバー */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}


/* 投稿ボタン */
.post-task-btn{
    display: inline-block;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 1px #627295;
    border-radius: 1px;
}
.post-task-btn:active {/*ボタンを押したとき*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.post-task-form{
	margin-bottom: 10px;
    color: #5d627b;
    background: white;
    border-top: solid 2px #5d627b;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
}
