@CHARSET "UTF-8";

*{
	margin:0;
	padding:0;
}

#my_canvas{
    position:relative;
    /* left:60px; */ 
	border-top:3px solid #d900a9;
	border-bottom:3px solid #5c239b;
	border-left:3px solid #108904;
	border-right:3px solid #0078d7;
	z-index:0;
}
nav#interface{
	width:60px;
	float:left;
}
ul{
	list-style:none;
	overflow:hidden;
}
ul#swbutton li{
	width:26px;
	height:27px;
	float:left;
	padding:8px 0;
	text-align:center;
	background:#ffffff;
	display:table-cell;
	font-size:12px;
	border-right:4px solid #efefef; 
	border-top:3px solid #efefef;
	border-bottom:4px solid #efefef;
	cursor:pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
ul#colorbutton li{
	width:26px;
	height:27px;
	float:left;
	border-right:4px solid #efefef;
	border-bottom:4px solid #efefef;
	cursor:pointer;
}
ul#colorbutton li#black{
	background:#000000;

}
ul#colorbutton li#red{
	background:#FF0000;

}
ul#colorbutton li#blue{
	background:#0000FF;

}
ul#colorbutton li#yellow{
	background:#ffffff; 
}
ul#colorbutton li#green{
	background:#00ff00;
}
ul#undoredo li{
	width:26px;
	height:27px;
	line-height:29px;
	float:left;
	text-align:center;
	background:#ffffff;
	border-right:4px solid #efefef;
	border-bottom:4px solid #efefef;
	cursor:pointer;
	font-size:10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
ul#clear li{
	width:56px;
	height:29px;
	background:#ffffff;
	border-right:4px solid #efefef;
	border-bottom:4px solid #efefef;
	line-height:29px;
	text-align:center;
	cursor:pointer;
	font-size:10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
ul#straight li{
	width:56px;
	height:29px;
	background:#ffffff;
	border-right:4px solid #efefef;
	border-bottom:4px solid #efefef;
	line-height:29px;
	text-align:center;
	cursor:pointer;
	font-size:10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
ul#freehand li{
	width:56px;
	height:29px;
	background:#ffffff;
	border-right:4px solid #efefef;
	border-bottom:4px solid #efefef;
	line-height:29px;
	text-align:center;
	cursor:pointer;
	font-size:10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}